{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "web3": "readonly",
    "artifacts": "readonly",
    "contract": "readonly"
  },
  "ignorePatterns": [
    "coverage",
    "typechain"
  ]
}